<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ filename }}</title>
</head>
<body class="black">
<div class="center">
    <img id="img" class="fit-height" src="/file_api?token={{ token }}" alt="Error"/>
</div>
</body>
</html>

<style>
    .black {
        background-color: #000000;
    }
    .center {
        text-align: center;
    }
    .fit-height {
        max-height: 100vh;
        width: auto;
        cursor: zoom-in;
    }
    .fit-width {
        max-width: 100%;
        height: auto;
        cursor: zoom-in;
    }
    .full-size {
        cursor: zoom-out;
    }
</style>

<script src="/static/js/jquery-3.5.1.min.js"></script>
<script>
    let zoom_level = 0;
    $("#img")
        .on("click", function(event) {
            $(this).removeClass()
            zoom_level = (zoom_level + 1) % 3;
            if(zoom_level === 0) {
                $(this).addClass("fit-height");
            }
            if(zoom_level === 1) {
                $(this).addClass("fit-width");
            }
            if(zoom_level === 2) {
                $(this).addClass("full-size");
            }
        })
        .on("load", function(event) {
            console.log("load");
        })
        .on("error", function(event) {
            console.log("error")
        })
</script>
