<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ filename }}</title>
    <link href="/static/favicon.ico" rel="icon" type="image/x-icon"/>
</head>
<body class="black">
<div class="center">
    <video id="video" src="{{ url_for('main.file_api') }}?token={{ token }}" controls autoplay></video>
</div>
</body>
</html>

<style>
    html, body {
        margin: 0;
        padding: 0;
    }
    .black {
        background-color: #000000;
    }
    .center {
        text-align: center;
    }
    .fit-height {
        max-height: 96vh;
        width: auto;
        cursor: zoom-in;
    }
    .fit-width {
        max-width: 100%;
        height: auto;
        cursor: zoom-in;
    }
</style>

<script src="/static/js/jquery-3.5.1.min.js"></script>
<script>
    if($(window).height() <= $(window).width()) {
        $("#video").addClass("fit-height");
    }
    else {
        $("#video").addClass("fit-width");
    }

    // https://www.learningjquery.com/2012/06/get-url-parameters-using-jquery
    function GetURLParameter(sParam)
    {
        let sPageURL = window.location.search.substring(1);
        let sURLVariables = sPageURL.split('&');
        for (let i = 0; i < sURLVariables.length; i++)
        {
            let sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] === sParam)
            {
                return sParameterName[1];
            }
        }
    }

    document.getElementById("video").addEventListener("ended", function(event) {
        console.log(event);
        setTimeout(function() {
            let xml_http = new XMLHttpRequest();
            xml_http.open("GET", "/treasure/file_api" +
                "?file_path=" + GetURLParameter("next_path") +
                "&node_id=" + GetURLParameter("next_node_id"), false);
            xml_http.send(null);
            window.open(xml_http.responseText);
        }, 1000);
    })
</script>