{% extends "auth/base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title has-text-dark">Login</h3>
    <div class="box has-background-dark">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-black has-text-danger">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/login">
            <div class="field">
                <div class="control">
                    <input class="input is-large is-black has-background-black dark-placeholder"
                           type="email" name="email" placeholder="Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large is-black has-background-black dark-placeholder"
                           type="password" name="password" placeholder="Password">
                </div>
            </div>
            <div class="field has-background-black">
                <label class="checkbox">
                    <input type="checkbox">
                    Remember me
                </label>
            </div>
            <button class="button is-block is-black is-large is-fullwidth has-text-dark">Login</button>
        </form>
    </div>
</div>
{% endblock %}